@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

* {
  // font-family: 'Bebas Neue';
  // overflow-x: hidden !important;
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none !important;
}

.home-title {
  font-size: 2.5rem !important;
}

body {
  overscroll-behavior: none;
  overflow-x: hidden !important;
}

main {
  font-family: 'Bebas Neue';
  overflow-x: scroll !important;
}

.navbar {
  font-family: 'Bebas Neue';
}

.about-bios {
  font-family: 'Ubuntu';
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

// input,
// textarea,
// select {
//   &:not(:placeholder-shown) {
//     &:valid {
//       border: 1px solid $success;
//     }

//     &:invalid {
//       border: 1px solid $danger;
//     }
//   }
// }

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}